<% title "Wszystkie fortunki" %>

<% @fortunes.each do |fortune| %>
<article class="index">
  <div class="attribute">
    <span class="name">Cytat</span>
    <span class="value"><%= fortune.quotation %></span>
  </div>
    <div class="attribute">
    <span class="name">Źródło</span>
    <span class="value"><%= fortune.source %></span>
  </div>
    <div class="links">
    <%= link_to 'Pokaż', fortune, class: "btn" %>
    <%= link_to 'Edytuj', edit_fortune_path(fortune), class: "btn" %>
    <%= link_to 'Usuń', fortune, confirm: 'Czy aby na pewno usunąć?',
          method: :delete, class: "btn danger" %>
  </div>
</article>
<% end %>

<div class="link">
  <%= link_to 'Nowa fortunka', new_fortune_path, class: "btn primary" %>
</div>
